<h1>Sign In!</h1>

<%= render "shared/errors" %>

<%= link_to "Sign Up", new_user_url %>
<form  action="<%=session_url%>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <label for="user_email">Email</label>
    <input type="text" name="user[email]" value="">
    <br>

    <label for="password">Password</label>
    <input type="password" name="user[password]" value="">
    <br>

    <input type="submit">
</form>
