<h1><%= @user.email %></h1>

  <table>
    <tr>
      <th><%= button_to "Bands",  bands_url, method: :get   %></th>
      <th><%= button_to "Albums",  session_url, method: :delete   %></th>
    </tr>
  </table>

  <%= button_to "Sign Out",  session_url, method: :delete   %>
